.header {
  padding: 20px 0 25px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

.header-container {
  display: grid;
  grid-template-columns: minmax(76px, 290px) minmax(150px, 500px) minmax(100px, 350px);
  grid-template-areas: "logo search country";
  align-items: center;
}

.header__logo {
  grid-area: logo;
}

.header__search-box {
  grid-area: search;
}

.header__choose-country-wrapper {
  grid-area: country;
  justify-self: end;
}

.choose-country-wrapper {
  position: relative;
}

.choose-country {
  appearance: none;
  width: 320px;
  border-radius: 22px;
  border: 1px solid #e6e6e6;
  padding: 16px 20px;
  cursor: pointer;
}

.choose-country-wrapper:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  width: 14px;
  height: 7px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  transform: translateY(-50%);
  pointer-events: none;
  padding: 0;
}

