.preload-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 225, 225);
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out;
}

.preload-wrapper.non-visible {
  opacity: 0;
  visibility: hidden;
}

.preload {
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

